# NBA All-Star Weekend Challenge

Your task...answer the following questions given the dataset given about the NBA All-Star Game from the year 2000 - 2016

Become more familiar with the dataset <a href="https://www.kaggle.com/fmejia21/nba-all-star-game-20002016">here</a>

Once completed, commit this notebook to github and submit the link to the google classroom assignment.

<a href="https://classroom.google.com/u/2/c/NDc4MzEzMjI5Nzla/a/NTE3OTYxNzM2OTNa/details">Google Classroom</a>

# What is the average weight of all players who played during this time?

In [235]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
AllStar = pd.read_csv('./NBA.csv', sep = ',')
AllStar

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
1,2016,James Harden,SG,6-5,220,Houston Rockets,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 3,United States
2,2016,Kevin Durant,SF,6-9,240,Golden State Warriors,Western All-Star Fan Vote Selection,2007 Rnd 1 Pick 2,United States
3,2016,Kawhi Leonard,F,6-7,230,San Antonio Spurs,Western All-Star Fan Vote Selection,2011 Rnd 1 Pick 15,United States
4,2016,Anthony Davis,PF,6-11,253,New Orleans Pelicans,Western All-Star Fan Vote Selection,2012 Rnd 1 Pick 1,United States
...,...,...,...,...,...,...,...,...,...
434,2000,Antonio McDyess,F,6-9,245,Denver Nuggets,Western All-Star Coaches Selection,1995 Rnd 1 Pick 2,United States
435,2000,Gary Payton,G,6-4,180,Seattle SuperSonics,Western All-Star Coaches Selection,1990 Rnd 1 Pick 2,United States
436,2000,Rasheed Wallace,FC,6-11,230,Portland Trail Blazers,Western All-Star Coaches Selection,1995 Rnd 1 Pick 4,United States
437,2000,David Robinson,C,7-1,250,San Antonio Spurs,Western All-Star Coaches Selection,1987 Rnd 1 Pick 1,United States
438,2000,Vlade Divac,C,7-1,260,Sacramento Kings,Western All-Star Replacement Selection,1989 Rnd 1 Pick 26,Serbia

In [234]:
weight = AllStar['WT']
avg_w = np.round(weight.mean(),2)
avg_w

228.75

# What team is represented the most during this time?

In [166]:
AllStar.groupby('Team').max()[['Year']]
# print('Atlanta Hawks')

                        Year
Team
Atlanta Hawks           2016
Boston Celtics          2016
Brooklyn Nets           2013
Charlotte Bobcats       2009
Charlotte Hornets       2016
Chicago Bulls           2016
Cleveland Cavaliers     2016
Dallas Mavericks        2014
Denver Nuggets          2010
Detroit Pistons         2015
Golden State Warriors   2016
Houston Rockets         2016
Indiana Pacers          2016
Los Angeles Clippers    2016
Los Angeles Lakers      2015
Memphis Grizzlies       2016
Miami Heat              2015
Milwaukee Bucks         2016
Minnesota Timberwolves  2013
New Jersey Nets         2011
New Orleans Hornets     2010
New Orleans Pelicans    2016
New York Knicks         2015
Oklahoma City Thunder   2016
Orlando Magic           2011
Philadelphia Sixers     2012
Phoenix Suns            2011
Portland Trail Blazers  2014
Sacramento Kings        2016
San Antonio Spurs       2016
Seattle SuperSonics     2006
Toronto Raptors         2016
Utah Jazz               2016
Washington Wizards      2016

# What draft class is represented the most during this time?

In [158]:
AllStar.groupby('Selection Type').count()[['Year']]

                                        Year
Selection Type
Eastern All-Star Coaches Selection       119
Eastern All-Star Fan Vote Selection       85
Eastern All-Star Replacement Selection    16
Western All-Star Coaches Selection       119
Western All-Star Fan Vote Selection       85
Western All-Star Replacement Selection    15

# Are foriegn players more prevalent in the All-Star Game during this time?

In [167]:
# AllStar.groupby().count()
AllStar.groupby('Nationality').count()[['Player']]

                                   Player
Nationality
Argentina                               2
Canada                                  1
Canada\nSouth Africa                    8
China                                   8
Democratic Republic of the Congo        2
Dominican Republic\nUnited States       4
England\nSouth Sudan                    2
France                                  6
France\nUnited States                   2
Germany                                13
Germany\nUnited States                  2
Greece\nNigeria                         1
Lithuania                               2
Russia                                  1
Serbia                                  1
Serbia\nGreece                          3
Spain                                   9
Turkey                                  1
United States                         365
United States\nAustralia                4
United States\nGermany                  1
United States\nSpain                    1

# How often are the Western All-Stars voted in by fans?

In [200]:
if_fan = AllStar[AllStar['Selection Type']=='Western All-Star Fan Vote Selection']
if_fan.groupby('Player').count()['Selection Type']

Player
Allen Iverson         1
Amar'e Stoudemire     2
Andrew Bynum          1
Anthony Davis         2
Blake Griffin         4
Carmelo Anthony       3
Chris Paul            4
Chris Webber          1
Dwight Howard         1
James Harden          1
Jason Kidd            1
Kawhi Leonard         2
Kevin Durant          6
Kevin Garnett         5
Kevin Love            1
Kobe Bryant          16
Marc Gasol            1
Russell Westbrook     1
Shaquille O'Neal      2
Stephen Curry         4
Steve Francis         3
Steve Nash            2
Tim Duncan           10
Tracy McGrady         3
Yao Ming              8
Name: Selection Type, dtype: int64

# How many times does Steph Curry make the All-Star game during this time period?

In [215]:
SCrry = AllStar[AllStar['Player']=='Stephen Curry']
SCrry

,Year,Player,Pos,HT,WT,Team,Selection Type,NBA Draft Status,Nationality
0,2016,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
41,2015,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
63,2014,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States
87,2013,Stephen Curry,G,6-3,190,Golden State Warriors,Western All-Star Fan Vote Selection,2009 Rnd 1 Pick 7,United States

# How many Shooting Gaurds have made the All-Star game during this time?

In [233]:
SG = AllStar[AllStar['Pos']=='SG']['Pos'].count()
SG

57

# How many Chicago Bulls players have made the All-Star Game during this time period?

In [237]:
ChicagoBulls = AllStar[AllStar['Team']=='Chicago Bulls']['Year'].count()
ChicagoBulls

12